@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db white;
  }

  .dark {
    scrollbar-color: #6b6b6b #2c2c2c;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply bg-background text-main;
  }

  button,
  a {
    @apply focus-visible:focus-ring;
  }
}
